body {
    width: 1300px;
    background-image: url(go.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
   
    flex-direction: column;
    width: 300px;
    height: 250px;
    background-color: rgb(160, 197, 197);
    margin-left: 500px;
    border-radius: 10%;
    padding: 10px;
}
div input{ 
    width: 270px;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px 10px 8px 8px ;
text-align: center;
margin-left: 5px;
outline: 1px;
border-style: none;
}
.save input{

    width: 90px;
    height: 25px;
    margin-top: 10px;
    border-radius: 5px 5px 5px 5px ;
text-align: center;
margin-left: 100px;
background-color:green;
outline: 1px;
border-style: none;
cursor: grab;

}